.backgroundDiv {
  width: 100vw;
  height: 100vh;
  background: url('../../image/homepage.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.input-form{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 65vh;
}

.form{
  border: 1px solid rgba(169, 169, 169, 0.555);
  border-radius: 6px;
  box-shadow: 10px 5px 5px rgb(204, 197, 197);
  background-color: rgba(245, 245, 245, 0.705);
}

.form-text {
margin: 3px;
}