.backgroundDiv {
  width: 100vw;
  height: 100vh;
  background: url('../../image/homepage.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main-row {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-title {
  text-align: center;
}

.app-title h1 {
  color: orange;
  font-size: 6rem;
  font-family:'Courier New', Courier, monospace;
  font-style: italic;
}

.input-form {
  
}

.sign-in-div {
  border: 1px solid rgba(169, 169, 169, 0.555); 
  border-radius: 6px;
  box-shadow: 10px 5px 5px rgb(204, 197, 197);
  background-color: rgba(245, 245, 245, 0.705);
}

#sign-in-buttons {
  display: flex;
  justify-content: center;
}

.form-text {
margin: 3px;
}